.programmieren{
  border: 4px orange solid;
  height: auto;
  display: grid;
}
.programmieren2{
  border: 2px green solid;
  width: 100%;
}
.text{
  border: 2px red solid;
  height: 400px;
  display: flex;
}
.programmierenContainerright, .programmierenContainerleft{
  border: 2px red solid;
  height: 500px;
  display: flex;
  justify-content: right;
}
.programmierenContainerleft{
  justify-content: left;
}
.programmierenImage{
  border: 2px aqua solid;
  width: 40%;
  min-width: 300px;
}
.innerText{
  border: 3px pink solid;
  width: 100%;
}
@media (min-width: 1200px) {
  .programmieren{
    grid-template-columns: 1fr 1fr;
    transition: all 0.5s ease;
  } 
}