body{
  overflow-x: hidden;
}
.programmieren{
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  overflow: hidden;
}
.right, .left{
  margin-left: 20px;
  width: 50%;
  display: grid;
  height: auto;
}
.programmieren2{
  margin-top: 20px;
  width: 100%;
  display: flex;
  height: fit-content;
}
.text{
  height: auto;
  width: 50%;
}
.programmierenContainerright, .programmierenContainerleft{

  height: fit-content;
  display: flex;
  justify-content: left;
}
.programmierenContainerleft{
  justify-content: left;
}
.pImage{
  width: fit-content;
  max-width: 400px;
  height: auto;
}
.programmierenImage{
  width: auto;
}
.innerText{
  width: 50%;
}
.this{
  margin-left: 20px;
}
.infoContainer{
  display: grid;
  margin-top: 20px;
}
.h{
  text-align: center;
  height: fit-content;
}
.pr img{
  object-fit: cover;
  height: 100%;
  width: 300px;
  margin-left: 50px;
  transition: all 0.5s ease;
}
.pr .programmingImage{
  scroll-snap-align: start;
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}
.programmieren img {
  transition: all 0.5s ease;
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}
.programmieren img:hover{
  scale: 1.2;
  transition: all 0.5s ease;
}
.pr{
  border: 5px white solid;
  height: 500px;
  margin-top: 40px;
  display: flex;
  overflow-y: hidden;
  justify-content: left;
  scroll-snap-type: x mandatory;
}
@media (max-width: 1445px) {
  .programmieren{
    display: grid;
    transition: all 0.5s ease;
  }
  .left, .right{
    width: 98%;
  }
}