.text{
  width: 60%;
}
.sport2{
  margin-top: 20px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.sportImage{
  height: auto;
  width: 200px;
  text-align: center;
}
.m{
  width: 300px;
  margin-left: 30px;
}
.innerSportImage{
  width: 100%;
  height: fit-content;
  border: 2px white solid;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.leichtathletik{
  box-shadow: 0px 0px 40px 2px rgb(202, 24, 24);
}
.tanzen{
  box-shadow: 0px 0px 40px 2px rgb(170, 101, 10);
}
.calisthenics{
  box-shadow: 0px 0px 40px 2px rgb(63, 188, 247);
}
.herausforderungen{
  box-shadow: 0px 0px 40px 2px white;
}
.matschlauf{
  box-shadow: 0px 0px 40px 2px rgb(175, 175, 175); 
}
.plank{
  box-shadow: 0px 0px 40px 2px rgb(175, 175, 175); 
}
.halle{
  box-shadow: 0px 0px 40px 2px rgb(175, 175, 175); 
}
.morePlank{
  box-shadow: 0px 0px 40px 2px rgb(175, 175, 175); 
}
.moreImages{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.innerSportImage:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.5s ease;
}
@media (max-width: 1200px) {
  .sport{
    grid-template-columns: 1fr;
    transition: all 0.5s ease;
  }
  .sportImage{
    height: auto;
    width: 330px;
  }
  .innerSportImage:hover {
    scale: 1.1;
  }
  .moreImages{
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}