.tradingImg{
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 40px 2px rgb(175, 175, 175); 
  transition: all 0.5s ease;
}
.tradingImg:hover{
  scale: 1.1;
  transition: all 0.5s ease;
}
.stockPhoto{
  height: auto;
  min-width: 400px;
}
.text{
  height: fit-content;
}
.zwischenÜberschrift{
  font-weight: 700;
}
.candlestick{
  width: 450px;
}
.last{
  display: flex;
  justify-content: center;
}